.footer {
  width: 98.4vw;
  height: 500px;
}


.footer-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
.footer-top {
  display: flex;

}

.footer-top-left {
  display: flex;
}

.footer-top-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.columns > li {
  list-style-type: none;
}

.columns-heading {
  list-style-type: none;
}

.column-heading {
}

.column-list {
  list-style-type: none;
}

.column-list > li {
  list-style-type: none;
}

.footer-bottom {
  background-color: rgb(229, 229, 229);
}

.footer-bottom-top {
  padding-left: 35px;
}
.footer-bottom-privacy-terms {
  font-weight: bold;
  display: flex;

}

.footer-bottom-privacy-terms > span {
}

.social-links {
  display: flex;
  flex-direction: row-row-reverse;
  justify-content: flex-end;
}

.social-links > img {
  width: 40px;
  height: 40px;
  margin: 0px 5px 0px 5px;
}

.copywrite {
  height: 100px;
  padding-left: 40px;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 100vw;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-bottom {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .social-links {
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .copywrite {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
  }

  .footer-bottom-privacy-terms {
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
  }
}
