.footer {
  width: 100%;
  height: 500px;
  margin-top: -50px;
}

.footer-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}
.footer-top {
  padding-top: 80px;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}

.footer-top-left {
  display: flex;
  padding-left: 10px;
}

.footer-top-right {
  width: 70%;

}

.columns {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.columns-heading {
}

.column-heading {
}

.column-list {
  list-style-type: none;
}

.column-list > li {
  position: relative;
  right: 25%;
}

.footer-bottom {
  height: 250px;
  margin-top: -70px;
  background-color: rgb(229, 229, 229);
}

.footer-bottom-top {
  display: block;
  margin-bottom: 20px;
  margin-top: 40px;

}
.footer-bottom-privacy-terms {
  display: flex;
  font-weight: bold;
  padding-left: 4%;
}

.footer-bottom-privacy-terms > span {
  margin: 50px 10px;
}

.social-links {
display: flex;
flex-direction: row-reverse;
}

.social-links > img {
  width: 40px;
  height: 40px;
  position: relative;
  right: 5%;
  bottom: 75px;
  margin: 0px 5px 0px 5px;
}

.copywrite {
  height: 100px;
  padding-left: 40px;
}
